In [3]:
import pandas as pd
import gmaps 
import googlemaps

In [4]:
API_KEY = 'AIzaSyDD02SPGDmpaAU87E6h1GnaZxFuikPiaqo'
gm = googlemaps.Client(key=API_KEY)
gmaps.configure(api_key=API_KEY) # Your Google API key

In [5]:
df=pd.read_csv('df_ld.csv', low_memory=False)  # read geocoded location from file
df.columns

Index(['Unnamed: 0', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'X', 'Y', 'PdId', 'Year'],
      dtype='object')

In [6]:
df = df[['X', 'Y']]
df.head()

            X          Y
0 -122.417295  37.786258
1 -122.413354  37.769075
2 -122.458639  37.767200
3 -122.446484  37.750130
4 -122.392304  37.782597

In [7]:
df['weight'] = 1
df.head()

            X          Y  weight
0 -122.417295  37.786258       1
1 -122.413354  37.769075       1
2 -122.458639  37.767200       1
3 -122.446484  37.750130       1
4 -122.392304  37.782597       1

In [8]:
locations = df[['Y', 'X']]          # put latitide and longitude as a variable name 'locations'
val = df['weight']                                 # put the weight into variable name 'val'
df.head()                                          # display the first 5 rows of the location data

            X          Y  weight
0 -122.417295  37.786258       1
1 -122.413354  37.769075       1
2 -122.458639  37.767200       1
3 -122.446484  37.750130       1
4 -122.392304  37.782597       1

In [9]:
# do geocode for the whole mega city
geocode_result = gm.geocode('San Francisco')[0]  # change the name into your city of interest

# get the center of the city
center_lat=geocode_result['geometry']['location']['lat']
center_lng=geocode_result['geometry']['location']['lng']
print('center=',center_lat,center_lng)

center= 37.7749295 -122.4194155

In [10]:
def drawHeatMap(location, val, zoom, intensity, radius):
    # setting the data and parameters
    heatmap_layer = gmaps.heatmap_layer(locations, val, dissipating = True)
    heatmap_layer.max_intensity = intensity
    heatmap_layer.point_radius = radius
    # draw the heatmap into a figure
    fig = gmaps.figure()
    fig = gmaps.figure(center = [center_lat,center_lng], zoom_level=zoom)
    fig.add_layer(heatmap_layer)
    return fig

In [11]:
# set up parameters
zoom=12
intensity=1
radius=2

# call the function to draw the heatmap
drawHeatMap(locations, val, zoom, intensity, radius)

Figure(layout=FigureLayout(height='420px'))