In [13]:
import pandas as pd
import gmaps 
from config import gkey

In [2]:
#API_KEY = 'your api key'
#gm = googlemaps.Client(key=API_KEY)
gmaps.configure(api_key=gkey) # Your Google API key

In [5]:
df=pd.read_csv('df_ld.csv', low_memory=False)  # read geocoded location from file
df.columns

Index(['Unnamed: 0', 'Category', 'Descript', 'DayOfWeek', 'Date', 'Time',
       'PdDistrict', 'X', 'Y', 'PdId', 'Year'],
      dtype='object')

In [34]:
df = df[['X', 'Y']]
sample = df.sample(50000)
sample.head()

                 X          Y
40537  -122.422858  37.805444
205972 -122.423218  37.786402
301548 -122.425565  37.781270
344395 -122.404385  37.772196
95620  -122.420250  37.780075

In [35]:
sample['weight'] = 1
sample.head()

                 X          Y  weight
40537  -122.422858  37.805444       1
205972 -122.423218  37.786402       1
301548 -122.425565  37.781270       1
344395 -122.404385  37.772196       1
95620  -122.420250  37.780075       1

In [36]:
locations = sample[['Y', 'X']]          # put latitide and longitude as a variable name 'locations'
val = sample['weight']                                 # put the weight into variable name 'val'
locations.head()                                          # display the first 5 rows of the location data

                Y           X
40537   37.805444 -122.422858
205972  37.786402 -122.423218
301548  37.781270 -122.425565
344395  37.772196 -122.404385
95620   37.780075 -122.420250

In [37]:
# do geocode for the whole mega city
# geocode_result = gm.geocode('San Francisco')[0]  # change the name into your city of interest

# get the center of the city
# center_lat=geocode_result['geometry']['location']['lat']
# center_lng=geocode_result['geometry']['location']['lng']
# print('center=',center_lat,center_lng)

In [38]:
def drawHeatMap(location, val, zoom, intensity, radius):
    # setting the data and parameters
    heatmap_layer = gmaps.heatmap_layer(locations, val, dissipating = True)
    heatmap_layer.max_intensity = intensity
    heatmap_layer.point_radius = radius
    # draw the heatmap into a figure
    fig = gmaps.figure()
    fig = gmaps.figure(center = [37.75,-122.4], zoom_level=zoom)
    fig.add_layer(heatmap_layer)
    return fig

In [39]:
# set up parameters
zoom=12
intensity=1
radius=2

# call the function to draw the heatmap
drawHeatMap(locations, val, zoom, intensity, radius)

Figure(layout=FigureLayout(height='420px'))